:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;

}

body {
  display: flex;
  align-content: center;
  justify-content: center;
  background-image: url(./components/brickBG.jpg);
  /* background-repeat: no-repeat;
  background-size: 100%; */
  min-height: 100%;

}

.MainNav {
  display: flex
}

table {
  border-spacing: 5px;
}

.button {
  font-size: 2rem;
}

tr {
  padding: 0%;
}

.tdBox {
  border-radius: 10%;
  border: .5rem solid lightgray;
  padding: .5rem;
  background-color: lightgray;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;

}

.big {
  padding: 2rem;
}

.medium {
  padding: 1rem;
}

.small {
  padding: .5rem;
}

.reveal {
  background-color: white;
  background-size: contain;
}

.flag {
  background-image: url(./components/flag.png);
  background-repeat: no-repeat;
  background-size: contain;

}

.bomb {
  background-image: url(./components/mark-bomb.jpg);
  background-repeat: no-repeat;
  background-size: contain;



}

.number {
  background-color: white;
  color: green;
}

.mainTitle {
  color: white;
  text-shadow: 5px 5px 10px black;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 3rem;
}